@import "../../variables";


.bg-white {
  background-color: white;
}

#timeline {
  $dots-size: 20px;
  $line-width: 4px;
  &::before {
    content: '';
    background: black;
    width: $line-width;
    height: 340px;
    position: absolute;
    left: -20px + ($dots-size / 2) - ($line-width / 2);
  }
  li {
    margin-top: 40px;
    &::before {
      content: '';
      background: black;
      width: $dots-size;
      height: $dots-size;
      position: absolute;
      left: -20px;
    }
  }
}

img.img-gray {
  filter: grayscale(100%);
  filter: url(/assets/grayscale.svg#greyscale);
  -webkit-filter: grayscale(1);
	-webkit-filter: grayscale(100%);
	filter: gray;
}

.sponsor {
  margin-top: 20px;
}
