@import "../../variables";


nav {
  background-color: $yellow;
  border-bottom: 2px solid black;
  min-height: $navbar-height;
  .navbar-brand {
    color: black;
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        color: black;
        border-bottom: 8px solid transparent;
        font-size: 30px;
        line-height: 34px;
        &.active, &:hover {
          border-bottom-color: black;
        }
      }
    }
  }
  .navbar-toggler {
    border-color: transparent;
    color: black;
  }
}


@media (max-width: map-get($grid-breakpoints, 'sm')) {
  nav {
    min-height: 50px;
    .navbar-brand {
      img {
        max-height: 50px;
      }
    }
    .container {
      width: 100%;
    }
  }
}
