<div class="container-fluid">

  <app-navbar></app-navbar>

  <router-outlet></router-outlet>

  <footer class="home-section">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <p id="social-links">
            Condividi su<br />
            <span style="top: -10px;" class="fb-share-button" data-href="http://www.pechakuchavenezia.org/" data-layout="icon" data-mobile-iframe="true">
              <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.pechakuchavenezia.org%2F&amp;src=sdkpreparse">
                Condividi
              </a>
            </span>
            <a class="twitter-share-button" href="https://twitter.com/intent/tweet">Tweet</a>
            <span style="position: relative; top: -2px;">
              <span class="g-plus" data-action="share" data-annotation="none" data-height="15"></span>
            </span>
          </p>
        </div>
        <div class="col-6 text-right align-self-end">
          <p>Copyright &copy; PechaKucha Venezia 2017</p>
        </div>
      </div>
    </div>
  </footer>

</div>
