<div class="container-fluid">

  <app-navbar></app-navbar>

  <section>
    <div class="full-width">
      <img src="http://placehold.it/2400x800/ff0/000?text=PechakuchaVenice" class="img-fluid" />
    </div>
  </section>

  <section class="home-section" id="about-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <h1 class="h1 filetto1">About</h1>
          <h2 class="h1 my-5">
            Una notte di progetti su Venezia e per Venezia,
            declinati nelle varie sfumature dell’abitare oggi la città
            e la sua laguna, tra proposte, progetti visivi e ricerche
            universitarie.
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <p>
            L’agorà era uno spazio fondamentale nella vita dei cittadini delle Poleis
            greche: il suo scopo era quello di accogliere il confronto di opinioni e
            dare spazio al dialogo sulla città e la vita pubblica. L’assemblea era lo
            strumento principale di questo confronto.
          </p>
          <p>
            Come abitanti e cittadini di Venezia, crediamo che questo spazio
            sia stato negato alla città per troppo tempo. Il confronto su temi
            fondamentali per la sopravvivenza della città e del suo tessuto sociale
            diviene ogni giorno più impellente.
          </p>
          <p>
            A causa della crescente gravità dello stato della città lagunare,
            Venezia è divenuta il case study più rappresentativo di particolari
            problematiche comuni a molte città storiche italiane, nelle quali una
            monocoltura del turismo di massa minaccia pericolosamente il loro
            ruolo di nuclei attivi della vita pubblica.
          </p>
          <p>
            A Venezia, più che in altri luoghi, questa deviazione ha alterato
            l’economia, costretto la popolazione alla migrazione di massa per
            la carenza di appartamenti a prezzi accessibili e lacerato il tessuto
            sociale, la coesione e la cultura civica.
          </p>
        </div>
        <div class="col-sm-6">
          <p>
            A ciò si aggiunge anche il precario equilibrio ambientale lagunare,
            minacciato dall’assenza di una strategia di turismo sostenibile e di un
            approccio coordinato per la protezione dell’ecosistema lagunare, la cui
            sopravvivenza è alla base delle ragioni che rendono la città di Venezia
            di “eccezionale valore universale”.
          </p>
          <p>
            Durante la festa pubblica più importante e antica della città di Venezia,
            il Carnevale, proponiamo dunque di donare alla città e ai suoi abitanti
            un momento di riscatto e confronto, attraverso la costituzione di una
            moderna agorà, una PechaKucha Night sul tema de l’abitare Venezia.
          </p>
          <p>
            Vogliamo costruire un network reale tra iniziative, gruppi, associazioni
            e singole menti, studiosi e studenti, uniti dall’obiettivo primo della
            salvaguardia della città e della sua anima: i suoi abitanti.
          </p>
          <p>
            Per una notte saremo il trait d’union di realtà differenti e distanti,
            poiché di diversa provenienza ed origine o poiché relegate agli
            ambienti accademici o informali, ma spesso unite dalle stesse volontà,
            interessi e direzioni. <br />
            Can We Save Venice Before It’s Too Late?
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="home-section bg-white" id="partecipa-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <h1 class="h1 filetto1">Partecipa</h1>
          <h2 class="h1 my-5">
            Iscriviti al PechaKucha Venezia come relatore.<br />
            Proponi il tuo progetto per vivere da protagonista l’evento
            globale su Venezia! Compila il form per candidarti.
          </h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-8">
            <form id="form-partecipa" #partecipaForm="ngForm" (ngSubmit)="sendEmail()">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input class="form-control" required type="text" name="nome"
                         [(ngModel)]="emailStatus.model.name" placeholder="Nome" />
                </div>
                <div class="col-md-6 form-group">
                  <input class="form-control" required type="text" name="cognome"
                         [(ngModel)]="emailStatus.model.surname" placeholder="Cognome" />
                </div>
              </div>
              <div class="row">
                <div class="col-12 form-group">
                  <input class="form-control" required type="email" name="email"
                         [(ngModel)]="emailStatus.model.address" placeholder="Email" />
                </div>
              </div>
              <div class="row">
                <div class="col-12 form-group">
                  <label for="descrizione">Descrizione progetto</label>
                  <textarea class="form-control" required name="descrizione" rows="8"
                            [(ngModel)]="emailStatus.model.message"></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-12 form-group">
                  <button type="submit" class="btn btn-pecha-full"
                          [disabled]="emailStatus.sent || partecipaForm.invalid">
                    {{ emailStatus.text }}
                  </button>
                </div>
              </div>
              <div class="row my-3">
                <div class="col-12">
                  <p>
                    Sarai ricontattato alla mail sopra indicata per l’invio della presentazione.
                    <br />
                    Ricordati di seguire le specifiche tecniche segnalate nel PDF scaricabile.
                  </p>
                  <p>
                    <a href="/assets/PechaKucha_Specifiche-tecniche_20170201.pdf"
                       target="_blank" class="btn btn-pecha-ghost">Scarica il PDF</a>
                  </p>
                </div>
              </div>
            </form>
        </div>
      </div>
    </div>
  </section>

  <section class="home-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <h1 class="h1 filetto2">Timetable</h1>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="col-8">
          <ul class="list-unstyled" id="timeline">
            <li class="h1">
              01.02<br />Open call
            </li>
            <li class="h1">
              20.02<br />Deadline invio candidature
            </li>
            <li class="h1">
              01.03<br />Deadline invio presentazioni
            </li>
            <li class="h1">
              11.03<br />PechaKucha Night
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="home-section bg-white">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <h1 class="h1 filetto2">Location</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-5">
          <a [href]="mapClickUrl" target="_blank">
            <img [src]="staticMapUrl" class="img-fluid img-gray" />
          </a>
        </div>
        <div class="col-md-6">
          <p class="h1 mb-3">
            Palazzo Michiel<br />
            Strada Nuova, 4391<br />
            Campo Santi Apostoli<br />
            Venezia
          </p>
          <p class="h1 mb-3">
            Si trova a 250 m dal Ponte di Rialto.<br />
            É raggiungibile via vaporetto con la linea
            Actv 1, fermata Ca' d'Oro.
          </p>
          <p>
            Durante la Biennale di Venezia Palazzo Michiel è sede dell’esposizione
            VENICE DESIGN organizzata dalla GAA-Foundation, European
            Cultural Centre.
          </p>
          <p>
            <a href="http://www.palazzomichiel.org" target="_blank">
              www.palazzomichiel.org
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="home-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <h1 class="h1 filetto2">Social streaming</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-8">
          <img src="http://placehold.it/1400x800/fff/fff" class="img-fluid" />
        </div>
      </div>
    </div>
  </section>

  <section class="home-section bg-white">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <h1 class="h1 filetto2">Streaming video</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-8">
          <img src="http://placehold.it/1400x800/000/000" class="img-fluid" />
        </div>
      </div>
    </div>
  </section>

  <section class="home-section" id="contatti-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <h1 class="h1 filetto1">Contatti</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p class="h1 my-3">
            Per contattarci, scrivi a
            <a href="mailto:info@pechakuchavenezia.org">info@pechakuchavenezia.org</a>
          </p>
          <p class="my-3">
            <a class="btn btn-pecha-ghost" href="mailto:info@pechakuchavenezia.org">
              Contattaci
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="home-section bg-white">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <h1 class="h1 filetto2">Sponsor</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-8">
          <div class="row">
            <div class="col-4 sponsor">
              <img src="http://placehold.it/300?text=+" class="img-fluid" />
            </div>
            <div class="col-4 sponsor">
              <img src="http://placehold.it/300?text=+" class="img-fluid" />
            </div>
            <div class="col-4 sponsor">
              <img src="http://placehold.it/300?text=+" class="img-fluid" />
            </div>
            <div class="col-4 sponsor">
              <img src="http://placehold.it/300?text=+" class="img-fluid" />
            </div>
            <div class="col-4 sponsor">
              <img src="http://placehold.it/300?text=+" class="img-fluid" />
            </div>
            <div class="col-4 sponsor">
              <img src="http://placehold.it/300?text=+" class="img-fluid" />
            </div>
            <div class="col-4 sponsor">
              <img src="http://placehold.it/300?text=+" class="img-fluid" />
            </div>
            <div class="col-4 sponsor">
              <img src="http://placehold.it/300?text=+" class="img-fluid" />
            </div>
            <div class="col-4 sponsor">
              <img src="http://placehold.it/300?text=+" class="img-fluid" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="home-section">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <p id="social-links">
            Condividi su<br />
            <span style="top: -10px;" class="fb-share-button" data-href="http://www.pechakuchavenezia.org/" data-layout="icon" data-mobile-iframe="true">
              <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.pechakuchavenezia.org%2F&amp;src=sdkpreparse">
                Condividi
              </a>
            </span>
            <a class="twitter-share-button" href="https://twitter.com/intent/tweet">Tweet</a>
            <span style="position: relative; top: -2px;">
              <span class="g-plus" data-action="share" data-annotation="none" data-height="15"></span>
            </span>
          </p>
        </div>
        <div class="col-6 text-right align-self-end">
          <p>Copyright &copy; PechaKucha Venezia 2017</p>
        </div>
      </div>
    </div>
  </footer>

</div>
