@import "variables";
@import "~bootstrap/scss/bootstrap";


@font-face {
  font-family: "Fakt Pro Normal";
  font-weight: normal;
  font-style: normal;
  src: url('/assets/fonts/FaktPro-Normal.eot') format('embedded-opentype'),
       url('/assets/fonts/FaktPro-Normal.ttf') format('truetype'),
       url('/assets/fonts/FaktPro-Normal.woff') format('woff');
}

body {
  padding-top: $navbar-height;
}

.h1 {
  font-size: 30px;
  line-height: 34px;
  word-wrap: break-word;
}

.h2 {
  font-size: 18px;
  line-height: 22px;
  word-wrap: break-word;
}

.filetto1 {
  border-top: 16px solid black;
  padding-top: 10px;
}

.filetto2 {
  border-top: 2px solid black;
  padding-top: 10px;
  margin-bottom: 60px;
}

.full-width {
  @include full-width;
}

.btn {
  &.btn-pecha-full {
    @include button-pecha-variant();
  }
  &.btn-pecha-ghost {
    @include button-pecha-variant($black, transparent, $white, $black);
  }
  &.btn-pecha-danger {
    @include button-pecha-variant($red, $black, $white, $red);
  }
}

a[class*="btn-pecha-"] {
  padding-top: 18px;
}

.home-section {
  $in-section-space: 60px * 2;
  padding-top: $in-section-space / 2;
  padding-bottom: $in-section-space / 2;
  border-top: 2px solid black;
  @include full-width;
}


@media (max-width: map-get($grid-breakpoints, 'sm')) {
  body {
    padding-top: 74px;
  }
}
