@import "variables";
@import "~bootstrap/scss/bootstrap";


@font-face {
  font-family: "Fakt Pro Normal";
  font-weight: normal;
  font-style: normal;
  src: url('/assets/fonts/FaktPro-Normal.eot') format('embedded-opentype'),
       url('/assets/fonts/FaktPro-Normal.ttf') format('truetype'),
       url('/assets/fonts/FaktPro-Normal.woff') format('woff');
}

body {
  padding-top: $navbar-height;
}

@media (max-width: map-get($grid-breakpoints, 'sm')) {
  body {
    padding-top: 74px;
  }
}
