@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap";


body {
  padding-top: 80px;
}

h1 {
  font-size: 30px;
  line-height: 34px;
}

h2 {
  font-size: 18px;
  line-height: 22px;
}
